<!DOCTYPE html>
<html>
<head>
<title>mysite</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="container">
		<%- include('../includes/header') %>
		<div id="content">
			<div id="board">
				<form id="search_form" action="" method="post">
					<input type="text" id="kwd" name="kwd" value="">
					<input type="submit" value="찾기">
				</form>
				<table class="tbl-ex">
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>글쓴이</th>
						<th>조회수</th>
						<th>작성일</th>
						<th></th>
					</tr>
                    <% for(let i = 0 ; i < board.length ; i++) {
                        const vo = board[i] %>
					<tr>
						<td><%=board.length-i%></td>
						<td><a href="/board/view/<%=vo.no%>"><%=vo.title%></a></td>
						<td><%=vo.User.name%></td>
						<td><%=vo.hit%></td>
						<td><%=moment(vo.regDate).format('YYYY-MM-DD hh:mm:ss')%></td>
                        <td>
                        <% if(vo.User.no == req.session.authUser.no) { %>
						<a href="/board/delete/<%=vo.no%>" class="del">삭제</a>
                        <% } %>
                        </td>
					</tr>
					<% } %>
				</table>
                <div class="pager">
                    <ul>
                        <li><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                    </ul>
                </div>
				<div class="bottom">
                    <% if(req.session.authUser) { %>
					<a href="/board/write" id="new-book">글쓰기</a>
                    <% } %>
				</div>				
			</div>
		</div>
		<%- include('../includes/navigation') %>
        <%- include('../includes/footer') %>
	</div>
</body>
</html>